*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #222831;
}
section {
    display: flex;
    height: 100vh;
}

div{
    width: 100px;
    height: 100px;
    margin: auto;
}

.green{
    background-color: #95E1D3;
    animation: greenhop 1.5s alternate infinite ease-in-out;
}

.purple{
    background-color: #AA96DA;
    animation: purplehop 1.5s 500ms alternate infinite ease-in-out;
}

.yellow{
    background-color: #FFFFD2;
    animation: yellowhop 1.5s 1000ms alternate infinite ease-in-out;
}

.red{
    background-color: #FCBAD3;
    animation: redhop 1.5s 1500ms alternate infinite ease-in-out;
}

.blue{
    background-color: #A8D8EA;
    animation: bluehop 1.5s 2000ms alternate infinite ease-in-out;
}

@keyframes greenhop{
    from{
        transform: translateY(0%);
    }

    to{
        transform: translateY(-100%);
    }
}

@keyframes purplehop{
    from{
        transform: translateY(0%);
    }

    to{
        transform: translateY(-100%);
    }
}

@keyframes yellowhop{
    from{
        transform: translateY(0%);
    }

    to{
        transform: translateY(-100%);
    }
}

@keyframes redhop{
    from{
        transform: translateY(0%);
    }

    to{
        transform: translateY(-100%);
    }
}

@keyframes bluehop{
    from{
        transform: translateY(0%);
    }

    to{
        transform: translateY(-100%);
    }
}